*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/**/build/
.cxx
.externalNativeBuild
/captures
*.jks
*.keystore
.kotlin/
local.properties
.android/
# Android Studio 3.6+ - included builds
.navigation/
# NDK
obj/
# Keystore
*.keystore
